@import 'colors';

/* Add a black background color to the top navigation bar */

.content-header {
    overflow: hidden;
    background-color: darken($primary-color-1, 10%);
    display: flex;
    width: 100%;
    position: relative;
    .spacer {
        flex-grow: 1;
    }
    a {
        color: $text-color;
        &:hover {
            color: darken($text-color, 10%);
            text-decoration: none;
        }
    }
    .searchfield {
        background-color: darken($primary-color-1, 10%);
        border: 1px solid $primary-color-1;
    }
}