@import 'colors';
main {
    display: flex;
    position: relative;
    .sidebar {
        height: 100vh;
        width: 400px;
        display: flex;
        flex-direction: column;
        background-color: $grey-2;
        .sidebar-header {
            height: 120px;
            background-color: $primary-color-1;
        }
        .sidebar-content {
            flex-grow: 1;
        }
        .sidebar-footer {
            height: 64px;
            background-color: $grey-1;
        }
    }
}