<div class="sidebar-header" *ngIf="me$ | async as me">
    <div clasS="box1">
        <div class="user-image"></div>
        <div class="name">
            <div>{{me.name}}</div>
            <label class="email">{{me.email}}</label>
        </div>
    </div>
</div>

<style>
    .box1 {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        top: 63px;
        bottom: 3px;
        width: 100%;
        background-color: #2a2a2e;
        color: #f9f9fa;
        display: flex;
    }
    
    .name {
        margin-left: 10px;
        position: relative;
        width: 80%;
    }
    
    .name div {
        width: 100%;
    }
    
    .user-image {
        height: 64px;
        width: 64px;
        margin-top: -32px;
        border-radius: 50%;
        background-color: #474749;
    }
    
    .sidebar-header {
        position: relative;
    }
</style>