<div class="register-modal">
    <!-- multistep form -->
    <form [(formGroup)]="registerForm" (ngSubmit)="register()" class="col s12">
        <div class="row">
            <!-- progressbar -->

            <!-- fieldsets -->
            <fieldset *ngIf="step===0">
                <h5>Create your Account</h5>
                <div class="input-field col s12">
                    <input class="white-text validate" [ngClass]="{'invalid':nameInvalid}" type="text" formControlName="name" placeholder="Username" id="name" />
                    <span *ngIf="empty('name')" class="helper-text alert-text left">Field can not be empty</span>
                    <span *ngIf="invalid('name')" class="helper-text alert-text left">Name must contain 3 characters </span>
                </div>
                <div class="input-field col s12">
                    <input class="white-text validate" [ngClass]="{'invalid':emailInvalid}" type="text" formControlName="email" placeholder="Email" />
                    <span *ngIf="empty('email')" class="helper-text alert-text left">Field can not be empty</span>
                    <span *ngIf="invalid('email')" class="helper-text alert-text left">Email must have a valid format</span>
                </div>
                <div class="input-field col s12">
                    <input class="white-text validate" [ngClass]="{'invalid':pwInvalid()}" type="password" formControlName="password" placeholder="Password" />
                </div>
                <div class="input-field col s12">
                    <input class="white-text validate" [ngClass]="{'invalid':pwInvalid()}" type="password" formControlName="password2" placeholder="Confirm Password" />
                    <span *ngIf="pwInvalid()" class="helper-text alert-text left">Passwords must match</span>
                </div>
                <button class="primary btn waves-effect waves-light" [ngClass]="{'disabled':registerForm.invalid}" type="submit" name="action">Register
                </button>
            </fieldset>
        </div>
    </form>
</div>

<style>
    /*custom font*/
    /*basic reset*/
    /*form styles*/
    
    .invalid {
        border-color: red;
    }
    
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    /*buttons*/
    /*headings*/
</style>