/* You can add global styles to this file, and also import other style files */
@import 'styles/sidebar';
@import 'styles/debug';

$grey-3: #3d3d3d;
$text-color: #efefef;
body {
  margin: 0px;
  padding: 0px;
  background-color: $grey-3;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $primary-color-1;
}
p {
  margin: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.content {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  //background-color: $sidebar-grey-2;
}
